<div class="profile">
  
  
  
<% if (user.profile()) { %>
  
    <div class="left-bar">
      <br>
      <div id="profile-pic">
      </div>
      <% if (user.id === Facedoge.currentUser().id) { %>
      <button id="widget">Add a profile pic</button>
      
      
        
      <% } %>
      <br>
      <br>
      <ul class="sticky-links nav nav-stacked">
        <li class="posts-link"><a>Posts</a></li>
        <li class="friends-link"><a>Friends</a></li>
        <li class="photos-link"><a>Photos</a></li>
      </ul>
      <div class="sticky-alias"></div>
    </div>
    <div class="right-bar">
      <% var nameString = "" + user.profile().first_name %>
      <% if (user.profile().last_name.length > 0) { %>
        <% nameString += " " + user.profile().last_name %>
      <% } %>
      
      <div class="name-header">
        <h1><%= nameString %></h1>
      </div>
      
      <br>
      <div id="request"></div>
      <br>
      <div id="credentials">
        <p id="email"><b>Email: </b><%= user.escape("email") %></p>
    
        <p id="bio"><b>Bio: </b><%= user.profile().bio %></p>
      </div>
      <br>
      <div class="<%= "sticky-target " + sticky %>"></div>
      <br>
      <div class="post-new"></div>
      
    </div>
    
  
<% } else { %>
  
  <div class="loading"><i>Loading...</i></div>
  
<% } %>

</div>

