<div class="profile">
  
  
  
<% if (user.profile()) { %>
  
    <div class="left-bar">
      <div id="profile-pic">
        <br>
        <span>profile pic goes here<br>~~~~~~~~~~~~~~~~~~~~~~~~~ <br> <br> <br> <br> <br> <br> <br>~~~~~~~~~~~~~~~~~~~~~~~~~ </span>
      </div>
      <br>
      <ul class="sticky-links nav nav-stacked">
        <li class="posts-link"><a>Posts</a><li>
        <li class="friends-link"><a>Friends</a><li>
      </ul>
      <div class="sticky-alias"></div>
    </div>
    <div class="right-bar">
      <% var nameString = "" + user.profile().first_name %>
      <% if (user.profile().last_name.length > 0) { %>
        <% nameString += " " + user.profile().last_name %>
      <% } %>
      
      <div class="name-header">
        <h1><%= nameString %></h1>
      </div>
      
      <br>
      <div id="request"></div>
      <br>
      <div id="credentials">
        <p id="email"><b>Email: </b><%= user.escape("email") %></p>
    
        <p id="bio"><b>Bio: </b><%= user.profile().bio %></p>
      </div>
      <br>
      <div class="<%= "sticky-target " + sticky %>"></div>
      <br>
      <div class="post-new"></div>
      
    </div>
    
    <script>
    $(function() {
      var stickyHeaderTop = $('.sticky-links').offset().top;
      $(window).scroll(function(){
        if( $(window).scrollTop() + 100 > stickyHeaderTop ) {
          $('.sticky-links').css({position: 'fixed', top: '100px'});
        } else {
          $('.sticky-links').css({position: 'static', top: '500px'});
        }
      });
    });
    </script>
  
<% } else { %>
  
  <div class="loading"><i>Loading...</i></div>
  
<% } %>

</div>

