// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// posts
.post-view {
  margin: 38px 25px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #F4F4F4;
  border-radius: 6px;
  box-shadow: 0px 0px 26px 8px #CFCFCF;
}

.post-view > .comments {
  margin-left: 30px;
  background-color: #F4F4F4;
}

div.content > div > div.posts {
  padding-right: 6%;
}


// comments
.post-view > div.splitter {
  margin-left: 0px;
  border-top: thin solid #888888;
}

.sticky-target.friends {
  background-color: #DDDDDD;
  border-radius: 6px;
  padding-left: 35px;
  padding-top: 35px;
  height: 100%;
  min-height: 300px;
}

.sticky-target.photos {
  background-color: #DDDDDD;
  border-radius: 6px;
  padding: 30px 15px;
  height: 100%;
  min-height: 300px;
}