/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  background-color: #EFEFEF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}

// navbar
.header > .navbar {
  background-color: #e8be62;
  text-color: #ffffff;
}

.navbar-brand {
  padding-top: 0px;
}

.nav-cushion {
  padding-top: 0px;
  padding-bottom: 15px;
}

#options {
  margin-top: 10px;
  color: #ffffff;
}


// sidebar
.midsection {
  //width: 100%;
//  height: 1000px;
//  margin-left: auto;
//  margin-right: auto;
}

#sidebar-wrapper {
  float: left;
  width: 275px;
  height: 1000px;
  position: fixed;
  top: -50px;
  overflow-y: auto;
  background-color: #CCCCCC;
  box-shadow: 8px 0px 35px #BBBBBB;
}

#content-wrapper {
  width: 90%;
  position: relative;
  float: left;
  overflow: auto;
  margin-left: 230px;
  padding-left: 15%;
  padding-right: 15%;
}

.sidebar > nav {
  top: 0;
  margin-top: -100px;
  margin: 0;
  padding-top: 100px;
  padding-left: 60px;
}

.sidebar > nav > ul > li {
  padding: 10px;
}


// general site look
a {
  color: #b5852d;
}

a:hover {
  color: #d7a945;
  text-decoration: none;
}

textarea {
  resize: none;
}


// profile
div.profile {
  height: 100%;
}

div.left-bar {
  position: relative;
  float: left;
  width: 180px;
  margin-left: -60px;
  margin-right: 20px;
}

div.right-bar {
  position: relative;
  overflow: auto;
  padding-left: 10%;
}

ul.sticky-links > li > a {
  color: #888888;
  font-weight: bold;
}

ul.sticky-links {
  width: 180px;
}

ul.sticky-links > li.active > a {
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #DDDDDD;
  
}

div.name-header {
}

div.edit-button {
}




