<div class="like-show">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  
  <% var likesString = " people like this.  " %>
  <span class="like-string">
  <% if (numLikes === 1) { %>
    <%= name + " likes this.  " %>
  <% } else { %>
  	<%= "" + numLikes + likesString %></span>
  <% } %>
  	</span>
  <% if (doesLike) { %>
    <a class="unlike">Unlike</a>
  <% } %>
</div>